.click{
    font-weight: bold;
    position: absolute;
    left: 300px;
    cursor: pointer;
}

.remove{
    color: red;
    position: absolute;
    left: 320px;
    font-size: 15px;
    cursor: pointer;
}

.fade-in{
    animation: fadein 2s;
    cursor: pointer;
}

.fade-in:hover{
    color: grey;
    text-decoration: line-through;
}

.fade-out{
    animation: fadeout 2s;
}


@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}